*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
h1{
    color: black;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
    /* background-color: blue; */
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#square:hover{
    background-color: red;
}
#circle:hover{
    background-color: rgb(29, 241, 29);
}
#diamond:hover{
    background-color: blue;
}
#circle{
    border-radius: 50%;
}
#diamond{
    rotate: 45deg;
    margin-top: 30px;
}
#diamond h1{
    rotate: 45deg;
}